{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block loginContent %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
        <p><a href="{% url 'password_reset' %}">reset password</a></p>
        {% block content %}
            <p>Top 5 college matches your preference</p>
            <div>
                {% for college in colleges %}
                    <div class="colzrRS">
                        <a href="{% url 'college_detail' college.categoryName %}">
                            <h3>{{ college.categoryName|capfirst }}</h3>
                        </a>
                        <p>located at :{{ college.subCategory }}</p>
                        {% if college.contact_no %}
                            <p>contact no: {{ college.value }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}